@model WebBanNuocTinhKhiet.Models.SANPHAM1

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
<style>
    /* CSS cho nội dung ngắn ban đầu */
    #text {
        max-height: 100px; /* Số chữ tối đa trước khi ẩn nội dung */
        overflow: hidden;
    }

    /* CSS cho nút "Đọc thêm" */
    #readMore {
        display: none; /* Ban đầu ẩn nút "Đọc thêm" */
    }
    /* CSS cho nội dung ban đầu */
    .content_coll {
        max-height: 100px;
        overflow: hidden;
        position: relative;
    }

    /* CSS cho nút "Đọc thêm" và "Thu gọn" */
    .one,
    .two {
        display: block;
        position: absolute;
        bottom: 0;
        right: 0;
        
    }

    .two {
        display: none; /* Ban đầu ẩn nút "Thu gọn" */
    }
    .swiper-container .swiper-button-prev {
        padding-right: 10px;
        
        border-radius: 0px 100px 100px 0px;
    }
</style>
<body style="background-color:#ffffff">
    <link href="~/Content/assets/swiper.scssa3fa.css" rel="stylesheet" />
    <link href="~/Content/assets/bootstrap.scssa3fa.css" rel="stylesheet" />
    <link href="~/Content/assets/mew_style_gb.scssa3fa.css" rel="stylesheet" />
    <link href="~/Content/assets/mew_style_index.scssa3fa.css" rel="stylesheet" />
    <link href="~/Content/assets/StyleSheet1.css" rel="stylesheet" />

    <div class="breadcrumbs bg-light">
        <div class="container">
            <ul class="breadcrumb m-0 pl-0 pr-0 pt-2 pb-2 small">
                <li class="home">
                    <a href="/Home/Index" title="Trang chủ">
                        Trang chủ
                    </a>
                    <span class="slash-divider ml-2 mr-2 font-weight-normal">/</span>
                </li>
                <li>
                    <a href="/DanhMucSP/SanPhamBanChay" title="Sản phẩm bán chạy">Sản phẩm bán chạy</a>
                    <span class="slash-divider ml-2 mr-2 font-weight-normal">/</span>
                </li>
                <li><span>Nước khoáng lọc OASIS chai 2 lít</span>
                <li>
            </ul>
        </div>
    </div>
    <div itemscope itemtype="http://schema.org/Product">
        <meta itemprop="category" content="Sản phẩm bán chạy">
        <meta itemprop="url" content="//mewaqua.mysapo.net/nuoc-khoang-loc-oasis-chai-2-lit">
        <meta itemprop="name" content="Nước khoáng lọc OASIS chai 2 lít">
        <meta itemprop="image" content="http://bizweb.dktcdn.net/thumb/grande/100/479/406/products/sp1-0237f7af-d6b8-479d-b659-a48fc4672ea3.jpg?v=1677753389687">
        <meta itemprop="description" content="Nước khoáng thiên nhiên La Vie 500ml phù hợp để mang theo khi bạn đang ở bên ngoài, dù bạn đang chạy vội đến lớp hay đi công việc, La Vie giúp cơ thể bạn luôn trong trạng thái đủ nước đủ khoáng suốt ngày dài năng động.

Không đường &amp; không calo, nước khoáng thiên nhiên La Vie với 6 khoáng chất thiết yếu là sự lựa chọn tuyệt vời để thay thế các loại nước giải khát chứa nhiều đường, giúp bạn và gia đình duy trì cuộc sống khỏe mạnh.
Mỗi chai nước khoáng thiên nhiên La Vie đều được đóng chai tại nguồn &amp; phải trải qua quá trình quản lý chất lượng bao gồm 12 bước nghiêm ngặt theo tiêu chuẩn của tập đoàn Nestle, chúng tôi đảm bảo các quy định vệ sinh và giữ được chất lượng &amp; thành phần khoáng cơ bản của nước. Đó lý do La Vie trở thành thương hiệu nước khoáng số 1 tại Việt Nam*
Nước khoáng thiên nhiên La Vie 500ml phù hợp để mang theo khi bạn đang ở bên ngoài, dù bạn đang chạy vội đến lớp hay đi công việc, La Vie giúp cơ thể bạn luôn trong trạng thái đủ nước đủ khoáng suốt ngày dài năng động.
Không đường &amp; không calo, nước khoáng thiên nhiên La Vie với 6 khoáng chất thiết yếu là sự lựa chọn tuyệt vời để thay thế các loại nước giải khát chứa nhiều đường, giúp bạn và gia đình duy trì cuộc sống khỏe mạnh.
Mỗi chai nước khoáng thiên nhiên La Vie đều được đóng chai tại nguồn &amp; phải trải qua quá trình quản lý chất lượng bao gồm 12 bước nghiêm ngặt theo tiêu chuẩn của tập đoàn Nestle, chúng tôi đảm bảo các quy định vệ sinh và giữ được chất lượng &amp; thành phần khoáng cơ bản của nước. Đó lý do La Vie trở thành thương hiệu nước khoáng số 1 tại Việt Nam*">
        <div class="d-none" itemprop="brand" itemtype="https://schema.org/Brand" itemscope>
            <meta itemprop="name" content="OASIS" />
        </div>
        <meta itemprop="model" content="">
        <div class="d-none hidden" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
            <div class="inventory_quantity hidden" itemscope itemtype="http://schema.org/ItemAvailability">
                <span class="a-stock" itemprop="supersededBy">
                    Còn hàng
                </span>
            </div>
            <link itemprop="availability" href="http://schema.org/InStock">
            <meta itemprop="priceCurrency" content="VND">
            <meta itemprop="price" content="220000">
            <meta itemprop="url" content="https://mewaqua.mysapo.net/nuoc-khoang-loc-oasis-chai-2-lit">
            <span itemprop="UnitPriceSpecification" itemscope itemtype="https://schema.org/Downpayment">
                <meta itemprop="priceType" content="220000">
            </span>
            <span itemprop="UnitPriceSpecification" itemscope itemtype="https://schema.org/Downpayment">
                <meta itemprop="priceSpecification" content="280000">
            </span>
            <meta itemprop="priceValidUntil" content="2099-01-01">
        </div>
        <div class="d-none hidden" id="https://mewaqua.mysapo.net" itemprop="seller" itemtype="http://schema.org/Organization" itemscope>
            <meta itemprop="name" content="MewAQUA" />
            <meta itemprop="url" content="https://mewaqua.mysapo.net" />
            <meta itemprop="logo" content="http://bizweb.dktcdn.net/100/479/406/themes/897580/assets/logo.png?1686886627950" />
        </div>

        <div class="container my-5">
            <section class="product-layout product-layout2 ">
                <div class="row">
                    <div class="product-layout_col-left col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 mb-3">
                        <div id="mySwiper" class="product-main-slide swiper-container mb-3 border rounded">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide ">
                                    <picture class="position-relative d-block aspect ratio1by1 modal-open rounded">
                                        <source media="(min-width: 1200px)" srcset="@Url.Content(Model.Anh)">
                                        <source media="(min-width: 575px)" srcset="@Url.Content(Model.Anh)">
                                        <img src="@Url.Content(Model.Anh)" alt="Nước khoáng lọc OASIS chai 2 lít" class="d-block m-auto img position-absolute img-contain gradient-load" data-zoom-image="@Url.Content(Model.Anh)" />
                                    </picture>
                                </div>
                                <div class="swiper-slide ">
                                    <picture class="position-relative d-block aspect ratio1by1 modal-open rounded">
                                        <source media="(min-width: 1200px)" srcset="@Url.Content(Model.Anh2)">
                                        <source media="(min-width: 575px)" srcset="@Url.Content(Model.Anh2)">
                                        <img src="@Url.Content(Model.Anh2)" alt="Nước khoáng lọc OASIS chai 2 lít" class="d-block m-auto img position-absolute img-contain gradient-load" data-zoom-image="@Url.Content(Model.Anh2)" />
                                    </picture>
                                </div>
                                <div class="swiper-button-prev mew_product_main-slide_prev" style="left: 548px"></div>
                                <div class="swiper-button-next mew_product_main-slide_next" ></div>
                            </div>

                        </div>
                        <script>
                            document.addEventListener('DOMContentLoaded', function () {
                                var mySwiper = new Swiper('.product-main-slide', {
                                    navigation: {
                                        nextEl: '.swiper-button-next', 
                                        prevEl: '.swiper-button-prev'
                                    },
                                });
                            });

                        </script>
                    </div>
                    <div class="product-layout_col-right col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 product-warp">
                        <h1 class="product-name font-weight-bold mb-3 d-inline-flex text-main">@Model.TenSP</h1>
                        <div class="product-summary mb-3 truncate-text">
                            @Model.MoTa
                        </div>
                        <script>
                            document.addEventListener("DOMContentLoaded", function () {
                                var elements = document.querySelectorAll(".truncate-text");
                                elements.forEach(function (element) {
                                    var maxLength = 150;
                                    var text = element.textContent.trim();
                                    if (text.length > maxLength) {
                                        element.textContent = text.slice(0, maxLength) + "...";
                                    }
                                });
                            });
                        </script>
                        <div class="detail__grid mb-3">
                            <div class="detail__col px-2 px-lg-3 text-center">
                                <div class="detail__icon d-flex align-items-center mb-2 justify-content-center">
                                    <img alt="Quy cách" src="//bizweb.dktcdn.net/thumb/icon/100/479/406/themes/897580/assets/icon_detail.png?1686886627950">
                                </div>
                                <div class="detail__text small">
                                    Quy cách
                                </div>
                                <div class="detail__val font-weight-bold">
                                    12 chai/thùng
                                </div>
                            </div>
                            <div class="detail__col px-2 px-lg-3 text-center">
                                <div class="detail__icon d-flex align-items-center mb-2 justify-content-center">
                                    <img alt="Quy cách" src="//bizweb.dktcdn.net/thumb/icon/100/479/406/themes/897580/assets/icon_detail.png?1686886627950">
                                </div>
                                <div class="detail__text small">
                                    Dung tích
                                </div>
                                <div class="detail__val font-weight-bold">
                                    2 lít
                                </div>
                            </div>
                        </div>

                        <div class="product-price p-3 bg-light rounded-10 mb-3 mb-lg-4">
                            <span class="font-weight-bold special-price m-0">@Model.GiaDB</span>
                            <del class="old-price ml-2">@Model.GiaCu</del>
                        </div>
                        <form action="/cart/add" method="post" enctype="multipart/form-data">
                            <input type="hidden" name="productAlias" value="nuoc-khoang-loc-oasis-chai-2-lit" />
                            <div id="o_sw_buy" class="mobile_open_box_swatch">
                                <div class="d-flex align-items-start flex-column">
                                    <div class="product-control w-100">
                                        <div class="box-variant clearfix  d-none ">
                                            <input type="hidden" name="variantId" value="82961932" />
                                        </div>
                                        <div class="product-quantity mb-3 d-flex align-items-center clearfix">
                                            <header class="font-weight-bold mr-2">Số lượng </header>
                                            <div class="custom-btn-number form-inline border rounded modal-open font-weight-bold">
                                                <button class="border-0 justify-content-center align-items-center d-flex" onClick="var result = document.getElementById('qtym'); var qtypro = result.value; if( !isNaN( qtypro ) &amp;&amp; qtypro &gt; 1 ) result.value--;return false;" type="button">
                                                    <svg width="12" height="12">
                                                        <use href="#svg-minus" />
                                                    </svg>
                                                </button>
                                                <input type="number" name="quantity" min="1" value="1" class="font-weight-bold border-0 text-center form-control prd_quantity" id="qtym">
                                                <button class="border-0 justify-content-center align-items-center d-flex" onClick="var result = document.getElementById('qtym'); var qtypro = result.value; if( !isNaN( qtypro )) result.value++;return false;" type="button">
                                                    <svg width="14" height="14">
                                                        <use href="#svg-plus" />
                                                    </svg>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex flex-lg-row flex-md-column gap_8 mb-2 mxs_100 pb-2 pt-2">
                                    <button type="button" class=" btn d-flex product-action_buy js-addToCart py-2 px-3 px-md-4 view_mores rounded-main bg-main2 modal-open text-center position-relative">
                                        <b class="position-relative m-auto button__text">
                                            Đặt hàng ngay
                                        </b>
                                        <span></span><span></span><span></span><span></span>
                                    </button>
                                    <a href="tel:19006750" class="d-flex py-2 px-3 px-md-4 bg-main view_mores rounded-main modal-open position-relative">
                                        <b class="position-relative text-left m-auto">Hotline: <hotline>1900 6750</hotline></b>
                                        <span></span><span></span><span></span><span></span>
                                    </a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-lg-8 mt-4 mt-lg-0">
                        <div class="bg-white rounded-10 modal-open mb-3 h-100">
                            <h3 class="special-content_title font-weight-bold d-block w-100 pb-2 mb-3 border-bottom">
                                <span class="position-relative d-inline-block">Thông tin chi tiết</span>
                            </h3>
                            <div class="product-content mewcontent">
                                <div class="content_coll position-relative rte content">
                                    @Model.MoTa
                                    <div class="bg_cl position-absolute w-100"></div>
                                </div>
                                <div class="view_mores text-center mb-2">
                                    <a href="javascript:;" class="one pt-2 pb-2 pl-4 pr-4 modal-open position-relative btn rounded-10 box_shadow font-weight-bold" title="Đọc thêm">Đọc thêm</a>
                                    <a href="javascript:;" class="two pt-2 pb-2 pl-4 pr-4 modal-open position-relative btn rounded-10 box_shadow font-weight-bold d-none" title="Thu gọn">Thu gọn</a>
                                </div>

                            </div>
                            <script>
                                document.addEventListener("DOMContentLoaded", function () {
                                    const readMoreButton = document.querySelector(".one");
                                    const readLessButton = document.querySelector(".two");
                                    const content = document.querySelector(".content_coll");
                                    const bgOverlay = document.querySelector(".bg_cl");

                                    let isExpanded = false;

                                    // Xử lý sự kiện khi người dùng nhấp vào nút "Đọc thêm" hoặc "Thu gọn"
                                    readMoreButton.addEventListener("click", toggleContent);
                                    readLessButton.addEventListener("click", toggleContent);

                                    function toggleContent() {
                                        isExpanded = !isExpanded;
                                        content.style.maxHeight = isExpanded ? "none" : "100px";
                                        bgOverlay.classList.toggle("visible");
                                        readMoreButton.classList.toggle("d-none");
                                        readLessButton.classList.toggle("d-none");
                                    }
                                });


                            </script>

                        </div>
                    </div>
                    <div class="col-12 col-lg-4 mt-4 mt-lg-0">
                        <div class="m_product rounded">
                            <h3 class="special-content_title pb-2 font-weight-bold position-relative mb-3 border-bottom">
                                <a class="position-relative d-inline-block" href="/san-pham-ban-chay" title="Sản phẩm liên quan">Sản phẩm liên quan</a>
                            </h3>
                            <div class="b_product position-relative relate pr-2">


                                <div class="product-item position-relative rounded h-100 bg-white mb-3 p-2 border">
                                    <div class="row align-items-center">
                                        <div class="col-3 pr-0">
                                            <a href="/nuoc-loc-aqufina-chai-2-lit" class="thumb d-block modal-open" title="Nước lọc AQUFINA chai 2 lít">
                                                <div class="position-relative w-100 m-0 ratio1by1 has-edge aspect">
                                                    <img src="//bizweb.dktcdn.net/100/479/406/themes/897580/assets/placeholder_1x1.png?1686886627950" data-src="//bizweb.dktcdn.net/thumb/large/100/479/406/products/sp3.jpg?v=1677753105627" decoding="async" class="d-block img img-cover position-absolute lazy" alt="Nước lọc AQUFINA chai 2 lít">
                                                </div>
                                            </a>
                                        </div>
                                        <div class="item-info col-9">
                                            <h3 class="item-title font-weight-bold">
                                                <a class="d-block modal-open" href="/nuoc-loc-aqufina-chai-2-lit" title="Nước lọc AQUFINA chai 2 lít">
                                                    Nước lọc AQUFINA chai 2 lít
                                                </a>
                                            </h3>
                                            <div class="item-price mb-1">
                                                <span class="special-price font-weight-bold">17.000₫</span>
                                                <del class="old-price"> 135.000₫</del>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="product-item position-relative rounded h-100 bg-white mb-3 p-2 border">
                                    <div class="row align-items-center">
                                        <div class="col-3 pr-0">
                                            <a href="/nuoc-khoang-loc-oasis-chai-lon" class="thumb d-block modal-open" title="Nước khoáng lọc OASIS chai lớn">
                                                <div class="position-relative w-100 m-0 ratio1by1 has-edge aspect">
                                                    <img src="//bizweb.dktcdn.net/100/479/406/themes/897580/assets/placeholder_1x1.png?1686886627950" data-src="//bizweb.dktcdn.net/thumb/large/100/479/406/products/sp4-7b2adcdf-5552-4cd4-97b8-590c604ba243.jpg?v=1677752763140" decoding="async" class="d-block img img-cover position-absolute lazy" alt="Nước khoáng lọc OASIS chai lớn">
                                                </div>
                                            </a>
                                        </div>
                                        <div class="item-info col-9">
                                            <h3 class="item-title font-weight-bold">
                                                <a class="d-block modal-open" href="/nuoc-khoang-loc-oasis-chai-lon" title="Nước khoáng lọc OASIS chai lớn">
                                                    Nước khoáng lọc OASIS chai lớn
                                                </a>
                                            </h3>
                                            <div class="item-price mb-1">
                                                <span class="special-price font-weight-bold">125.000₫</span>
                                                <del class="old-price"> 135.000₫</del>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="product-item position-relative rounded h-100 bg-white mb-3 p-2 border">
                                    <div class="row align-items-center">
                                        <div class="col-3 pr-0">
                                            <a href="/nuoc-loc-aqufina-chai-lon" class="thumb d-block modal-open" title="Nước lọc AQUFINA chai lớn">
                                                <div class="position-relative w-100 m-0 ratio1by1 has-edge aspect">
                                                    <img src="//bizweb.dktcdn.net/100/479/406/themes/897580/assets/placeholder_1x1.png?1686886627950" data-src="//bizweb.dktcdn.net/thumb/large/100/479/406/products/sp5.jpg?v=1677752677127" decoding="async" class="d-block img img-cover position-absolute lazy" alt="Nước lọc AQUFINA chai lớn">
                                                </div>
                                            </a>
                                        </div>
                                        <div class="item-info col-9">
                                            <h3 class="item-title font-weight-bold">
                                                <a class="d-block modal-open" href="/nuoc-loc-aqufina-chai-lon" title="Nước lọc AQUFINA chai lớn">
                                                    Nước lọc AQUFINA chai lớn
                                                </a>
                                            </h3>
                                            <div class="item-price mb-1">
                                                <span class="special-price font-weight-bold">120.000₫</span>
                                                <del class="old-price"> 135.000₫</del>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="product-item position-relative rounded h-100 bg-white mb-3 p-2 border">
                                    <div class="row align-items-center">
                                        <div class="col-3 pr-0">
                                            <a href="/nuoc-loc-dong-chai-lavie" class="thumb d-block modal-open" title="Nước lọc đóng chai Lavie">
                                                <div class="position-relative w-100 m-0 ratio1by1 has-edge aspect">
                                                    <img src="//bizweb.dktcdn.net/100/479/406/themes/897580/assets/placeholder_1x1.png?1686886627950" data-src="//bizweb.dktcdn.net/thumb/large/100/479/406/products/sp7.jpg?v=1677752432123" decoding="async" class="d-block img img-cover position-absolute lazy" alt="Nước lọc đóng chai Lavie">
                                                </div>
                                            </a>
                                        </div>
                                        <div class="item-info col-9">
                                            <h3 class="item-title font-weight-bold">
                                                <a class="d-block modal-open" href="/nuoc-loc-dong-chai-lavie" title="Nước lọc đóng chai Lavie">
                                                    Nước lọc đóng chai Lavie
                                                </a>
                                            </h3>
                                            <div class="item-price mb-1">
                                                <span class="special-price font-weight-bold">135.000₫</span>
                                                <del class="old-price"> 150.000₫</del>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="product-item position-relative rounded h-100 bg-white mb-3 p-2 border">
                                    <div class="row align-items-center">
                                        <div class="col-3 pr-0">
                                            <a href="/nuoc-loc-tinh-khiet-mewaqua" class="thumb d-block modal-open" title="Nước lọc tinh khiết MewAQUA">
                                                <div class="position-relative w-100 m-0 ratio1by1 has-edge aspect">
                                                    <img src="//bizweb.dktcdn.net/100/479/406/themes/897580/assets/placeholder_1x1.png?1686886627950" data-src="//bizweb.dktcdn.net/thumb/large/100/479/406/products/sp8.jpg?v=1677752339663" decoding="async" class="d-block img img-cover position-absolute lazy" alt="Nước lọc tinh khiết MewAQUA">
                                                </div>
                                            </a>
                                        </div>
                                        <div class="item-info col-9">
                                            <h3 class="item-title font-weight-bold">
                                                <a class="d-block modal-open" href="/nuoc-loc-tinh-khiet-mewaqua" title="Nước lọc tinh khiết MewAQUA">
                                                    Nước lọc tinh khiết MewAQUA
                                                </a>
                                            </h3>
                                            <div class="item-price mb-1">
                                                <span class="special-price font-weight-bold">135.000₫</span>
                                                <del class="old-price"> 150.000₫</del>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="product-item position-relative rounded h-100 bg-white mb-3 p-2 border">
                                    <div class="row align-items-center">
                                        <div class="col-3 pr-0">
                                            <a href="/nuoc-loc-aqufina-chai-nhua" class="thumb d-block modal-open" title="Nước lọc AQUFINA chai nhựa">
                                                <div class="position-relative w-100 m-0 ratio1by1 has-edge aspect">
                                                    <img src="//bizweb.dktcdn.net/100/479/406/themes/897580/assets/placeholder_1x1.png?1686886627950" data-src="//bizweb.dktcdn.net/thumb/large/100/479/406/products/sp9.jpg?v=1677752097783" decoding="async" class="d-block img img-cover position-absolute lazy" alt="Nước lọc AQUFINA chai nhựa">
                                                </div>
                                            </a>
                                        </div>
                                        <div class="item-info col-9">
                                            <h3 class="item-title font-weight-bold">
                                                <a class="d-block modal-open" href="/nuoc-loc-aqufina-chai-nhua" title="Nước lọc AQUFINA chai nhựa">
                                                    Nước lọc AQUFINA chai nhựa
                                                </a>
                                            </h3>
                                            <div class="item-price mb-1">
                                                <span class="special-price font-weight-bold">120.000₫</span>
                                                <del class="old-price"> 180.000₫</del>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="product-item position-relative rounded h-100 bg-white mb-3 p-2 border">
                                    <div class="row align-items-center">
                                        <div class="col-3 pr-0">
                                            <a href="/nuoc-loc-aqufina-dong-lon" class="thumb d-block modal-open" title="Nước lọc AQUFINA đóng lon">
                                                <div class="position-relative w-100 m-0 ratio1by1 has-edge aspect">
                                                    <img src="//bizweb.dktcdn.net/100/479/406/themes/897580/assets/placeholder_1x1.png?1686886627950" data-src="//bizweb.dktcdn.net/thumb/large/100/479/406/products/sp10.jpg?v=1677751787130" decoding="async" class="d-block img img-cover position-absolute lazy" alt="Nước lọc AQUFINA đóng lon">
                                                </div>
                                            </a>
                                        </div>
                                        <div class="item-info col-9">
                                            <h3 class="item-title font-weight-bold">
                                                <a class="d-block modal-open" href="/nuoc-loc-aqufina-dong-lon" title="Nước lọc AQUFINA đóng lon">
                                                    Nước lọc AQUFINA đóng lon
                                                </a>
                                            </h3>
                                            <div class="item-price mb-1">
                                                <span class="special-price font-weight-bold">180.000₫</span>
                                                <del class="old-price"> 240.000₫</del>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <section class="product_poli_wrap my-4 bg-white rounded-10 modal-open ">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-12 col-lg-8">
                            <h3 class="special-content_title pb-2 font-weight-bold position-relative mb-3 border-bottom">
                                <span class="position-relative d-inline-block">Dịch vụ của chúng tôi</span>
                            </h3>
                            <div class="summary mb-3 mb-lg-4">
                                Là đại lý chính thức của Tổng công ty Cổ phần Nước tinh khoáng tinh khiết thiên nhên MewAQUA (AQUA Trading), Đại lý nước tinh khiết tại 266 Đội Cấn, Ba Đình, Hà Nội cam kết cung cấp nước lọc, nước khoáng, nước tinh khiết với các tiêu chuẩn và dịch vụ sau:
                            </div>
                            <div class="row">
                                <div class="col-6 col-lg-4 mb-3">
                                    <div class="item d-flex align-items-center h-100 ">
                                        <div class="mr-2 w-65px">
                                            <picture class="position-relative w-100 m-0 ratio1by1 d-block aspect">
                                                <img class="d-block img img-cover position-absolute" src="//bizweb.dktcdn.net/thumb/compact/100/479/406/themes/897580/assets/img_poli_1.png?1686886627950" alt="Sản phẩm chính hãng" decoding="async">
                                            </picture>
                                        </div>
                                        <div class="media-body font-weight-bold">
                                            Sản phẩm chính hãng
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6 col-lg-4 mb-3">
                                    <div class="item d-flex align-items-center h-100 ">
                                        <div class="mr-2 w-65px">
                                            <picture class="position-relative w-100 m-0 ratio1by1 d-block aspect">
                                                <img class="d-block img img-cover position-absolute" src="//bizweb.dktcdn.net/thumb/compact/100/479/406/themes/897580/assets/img_poli_2.png?1686886627950" alt="6 Giai đoạn lọc" decoding="async">
                                            </picture>
                                        </div>
                                        <div class="media-body font-weight-bold">
                                            6 Giai đoạn lọc
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6 col-lg-4 mb-3">
                                    <div class="item d-flex align-items-center h-100 ">
                                        <div class="mr-2 w-65px">
                                            <picture class="position-relative w-100 m-0 ratio1by1 d-block aspect">
                                                <img class="d-block img img-cover position-absolute" src="//bizweb.dktcdn.net/thumb/compact/100/479/406/themes/897580/assets/img_poli_3.png?1686886627950" alt="Thành phần lành mạnh" decoding="async">
                                            </picture>
                                        </div>
                                        <div class="media-body font-weight-bold">
                                            Thành phần lành mạnh
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6 col-lg-4 mb-3">
                                    <div class="item d-flex align-items-center h-100 ">
                                        <div class="mr-2 w-65px">
                                            <picture class="position-relative w-100 m-0 ratio1by1 d-block aspect">
                                                <img class="d-block img img-cover position-absolute" src="//bizweb.dktcdn.net/thumb/compact/100/479/406/themes/897580/assets/img_poli_4.png?1686886627950" alt="Kiểm soát hoàn toàn" decoding="async">
                                            </picture>
                                        </div>
                                        <div class="media-body font-weight-bold">
                                            Kiểm soát hoàn toàn
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6 col-lg-4 mb-3">
                                    <div class="item d-flex align-items-center h-100 ">
                                        <div class="mr-2 w-65px">
                                            <picture class="position-relative w-100 m-0 ratio1by1 d-block aspect">
                                                <img class="d-block img img-cover position-absolute" src="//bizweb.dktcdn.net/thumb/compact/100/479/406/themes/897580/assets/img_poli_5.png?1686886627950" alt="Vận chuyển khép kín" decoding="async">
                                            </picture>
                                        </div>
                                        <div class="media-body font-weight-bold">
                                            Vận chuyển khép kín
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6 col-lg-4 mb-3">
                                    <div class="item d-flex align-items-center h-100 ">
                                        <div class="mr-2 w-65px">
                                            <picture class="position-relative w-100 m-0 ratio1by1 d-block aspect">
                                                <img class="d-block img img-cover position-absolute" src="//bizweb.dktcdn.net/thumb/compact/100/479/406/themes/897580/assets/img_poli_6.png?1686886627950" alt="Tư vấn toàn diện" decoding="async">
                                            </picture>
                                        </div>
                                        <div class="media-body font-weight-bold">
                                            Tư vấn toàn diện
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a class="view_mores rounded-main bg-main modal-open d-inline-block py-2 px-4 mt-3 text-center position-relative" href="gioi-thieu" title="Đọc thêm">
                                <b class="position-relative">Đọc thêm</b>
                                <span></span><span></span><span></span><span></span>
                            </a>
                        </div>
                        <div class="col-10 col-lg-4 mt-4 mt-lg-0">
                            <picture class="position-relative w-100 m-0 ratio1by1 d-block aspect dance">
                                <img class="d-block img img-cover position-absolute lazy" src="//bizweb.dktcdn.net/100/479/406/themes/897580/assets/placeholder_1x1.png?1686886627950" data-src="//bizweb.dktcdn.net/thumb/large/100/479/406/themes/897580/assets/bn_about.png?1686886627950" alt="Dịch vụ của chúng tôi" />
                            </picture>
                        </div>
                    </div>
                </section>

                <section class="m_blog pt-4">
                    <h3 class="special-content_title pb-2 pt-2 font-weight-bold position-relative mb-3 border-bottom">
                        <a class="position-relative d-inline-block" href="tin-tuc" title="Tin tức">
                            Tin tức
                        </a>
                    </h3>
                    <div class="b_blog">
                        <div class="mew_blog swiper-container position-relative pb-3">
                            <div class="swiper-wrapper">

                                <div class="swiper-slide mb-3 h-auto">
                                    <div class="bg-white bor-10 border h-100 item_grid p-2 position-relative">
                                        <div class="img_thm position-relative modal-open">
                                            <a href="/mua-nuoc-khoang-o-dau-de-dam-bao-chat-luong" title="Mua nước khoáng ở đâu để đảm bảo chất lượng?" class="effect-ming">
                                                <div class="position-relative w-100 m-0 be_opa modal-open ratio3by2 has-edge aspect bor-10">
                                                    <img src="//bizweb.dktcdn.net/100/479/406/themes/897580/assets/placeholder_1x1.png?1686886627950" data-src="https://bizweb.dktcdn.net/100/479/406/articles/3.jpg?v=1677755528357" class="lazy d-block img img-cover position-absolute" alt="Mua nước khoáng ở đâu để đảm bảo chất lượng?">
                                                    <div class="position-absolute w-100 h-100 overlay"></div>
                                                </div>
                                            </a>

                                        </div>
                                        <div class="cont pt-3 text-center">
                                            <h3 class="title_blo font-weight-boldmb-0">
                                                <a class="line_2 h-auto" href="/mua-nuoc-khoang-o-dau-de-dam-bao-chat-luong" title="Mua nước khoáng ở đâu để đảm bảo chất lượng?">Mua nước khoáng ở đâu để đảm bảo chất lượng?</a>
                                            </h3>
                                            <div class="entry-date small text-center text-muted mb-2">
                                                <svg width="13" height="13">
                                                    <use href="#svg-user" />
                                                </svg>
                                                Mew Theme
                                                <svg width="13" height="13" class="ml-2">
                                                    <use href="#svg-time" />
                                                </svg>
                                                02/03/2023
                                            </div>


                                            <div class="line_top mb-3 sum line_2 h-auto text-center">
                                                Vì các loại nước khoáng có chứa nhiều khoáng chất tốt cho sức khỏe của người sử dụng nên rất được ưa chuộng. Do nhu cầu sử dụng ngày càng cao nên thị trường xuất hiện rất nhiều cơ sở cung cấp nước khoáng kém chất lượng, không vệ sinh, không đạt tiêu chuẩn, điều đó khiến một số khách...
                                            </div>

                                            <a class="view_mores bg-main rounded-main modal-open d-inline-block py-2 px-4 text-center position-absolute" href="/mua-nuoc-khoang-o-dau-de-dam-bao-chat-luong" title="Đọc thêm">
                                                <b class="position-relative">Đọc thêm</b>
                                                <span></span><span></span><span></span><span></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>

                                <div class="swiper-slide mb-3 h-auto">
                                    <div class="bg-white bor-10 border h-100 item_grid p-2 position-relative">
                                        <div class="img_thm position-relative modal-open">
                                            <a href="/tai-sao-phai-phan-biet-nuoc-khoang-voi-nuoc-tinh-khiet" title="Tại sao phải phân biệt nước khoáng với nước tinh khiết?" class="effect-ming">
                                                <div class="position-relative w-100 m-0 be_opa modal-open ratio3by2 has-edge aspect bor-10">
                                                    <img src="//bizweb.dktcdn.net/100/479/406/themes/897580/assets/placeholder_1x1.png?1686886627950" data-src="https://bizweb.dktcdn.net/100/479/406/articles/2.jpg?v=1677755449307" class="lazy d-block img img-cover position-absolute" alt="Tại sao phải phân biệt nước khoáng với nước tinh khiết?">
                                                    <div class="position-absolute w-100 h-100 overlay"></div>
                                                </div>
                                            </a>

                                        </div>
                                        <div class="cont pt-3 text-center">
                                            <h3 class="title_blo font-weight-boldmb-0">
                                                <a class="line_2 h-auto" href="/tai-sao-phai-phan-biet-nuoc-khoang-voi-nuoc-tinh-khiet" title="Tại sao phải phân biệt nước khoáng với nước tinh khiết?">Tại sao phải phân biệt nước khoáng với nước tinh khiết?</a>
                                            </h3>
                                            <div class="entry-date small text-center text-muted mb-2">
                                                <svg width="13" height="13">
                                                    <use href="#svg-user" />
                                                </svg>
                                                Mew Theme
                                                <svg width="13" height="13" class="ml-2">
                                                    <use href="#svg-time" />
                                                </svg>
                                                02/03/2023
                                            </div>


                                            <div class="line_top mb-3 sum line_2 h-auto text-center">
                                                Nước nào mà chẳng là nước’; ‘Uống 2 lít nước mỗi ngày là tốt rồi, sao phải phân biệt’… là tâm lý chung của rất nhiều người.Tuy nhiên, nước khoáng và nước tinh khiết khác nhau về nguồn gốc, quy trình sản xuất và do đó có lợi ích khác nhau đối với sức khỏe con người.
                                                1. Nguồn gốc: Không...
                                            </div>

                                            <a class="view_mores bg-main rounded-main modal-open d-inline-block py-2 px-4 text-center position-absolute" href="/tai-sao-phai-phan-biet-nuoc-khoang-voi-nuoc-tinh-khiet" title="Đọc thêm">
                                                <b class="position-relative">Đọc thêm</b>
                                                <span></span><span></span><span></span><span></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>

                                <div class="swiper-slide mb-3 h-auto">
                                    <div class="bg-white bor-10 border h-100 item_grid p-2 position-relative">
                                        <div class="img_thm position-relative modal-open">
                                            <a href="/ban-da-biet-cach-uong-nuoc-tot-cho-suc-khoe-chua" title="Bạn đã biết cách uống nước tốt cho sức khỏe chưa?" class="effect-ming">
                                                <div class="position-relative w-100 m-0 be_opa modal-open ratio3by2 has-edge aspect bor-10">
                                                    <img src="//bizweb.dktcdn.net/100/479/406/themes/897580/assets/placeholder_1x1.png?1686886627950" data-src="https://bizweb.dktcdn.net/100/479/406/articles/5.jpg?v=1677755260847" class="lazy d-block img img-cover position-absolute" alt="Bạn đã biết cách uống nước tốt cho sức khỏe chưa?">
                                                    <div class="position-absolute w-100 h-100 overlay"></div>
                                                </div>
                                            </a>

                                        </div>
                                        <div class="cont pt-3 text-center">
                                            <h3 class="title_blo font-weight-boldmb-0">
                                                <a class="line_2 h-auto" href="/ban-da-biet-cach-uong-nuoc-tot-cho-suc-khoe-chua" title="Bạn đã biết cách uống nước tốt cho sức khỏe chưa?">Bạn đã biết cách uống nước tốt cho sức khỏe chưa?</a>
                                            </h3>
                                            <div class="entry-date small text-center text-muted mb-2">
                                                <svg width="13" height="13">
                                                    <use href="#svg-user" />
                                                </svg>
                                                Mew Theme
                                                <svg width="13" height="13" class="ml-2">
                                                    <use href="#svg-time" />
                                                </svg>
                                                02/03/2023
                                            </div>


                                            <div class="line_top mb-3 sum line_2 h-auto text-center">
                                                Uống nước là hoạt động không thể thiếu để duy trì sức khỏe và sự sống của con người. Vì vậy, chúng ta cần biết&nbsp;cách uống nước tốt cho sức khỏe&nbsp;để cung cấp nước cho cơ thể theo&nbsp;cách hợp lý, khoa học, góp phần quan trọng trong việc bảo vệ sức khỏe.
                                                Một số vai trò quan trọng của nước đối...
                                            </div>

                                            <a class="view_mores bg-main rounded-main modal-open d-inline-block py-2 px-4 text-center position-absolute" href="/ban-da-biet-cach-uong-nuoc-tot-cho-suc-khoe-chua" title="Đọc thêm">
                                                <b class="position-relative">Đọc thêm</b>
                                                <span></span><span></span><span></span><span></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>

                                <div class="swiper-slide mb-3 h-auto">
                                    <div class="bg-white bor-10 border h-100 item_grid p-2 position-relative">
                                        <div class="img_thm position-relative modal-open">
                                            <a href="/diem-danh-13-loai-nuoc-uong-duoc-gioi-tre-yeu-thich-nhat-viet-nam" title="Điểm danh 13 loại nước uống được giới trẻ yêu thích nhất Việt Nam" class="effect-ming">
                                                <div class="position-relative w-100 m-0 be_opa modal-open ratio3by2 has-edge aspect bor-10">
                                                    <img src="//bizweb.dktcdn.net/100/479/406/themes/897580/assets/placeholder_1x1.png?1686886627950" data-src="https://bizweb.dktcdn.net/100/479/406/articles/1.jpg?v=1677755192037" class="lazy d-block img img-cover position-absolute" alt="Điểm danh 13 loại nước uống được giới trẻ yêu thích nhất Việt Nam">
                                                    <div class="position-absolute w-100 h-100 overlay"></div>
                                                </div>
                                            </a>

                                        </div>
                                        <div class="cont pt-3 text-center">
                                            <h3 class="title_blo font-weight-boldmb-0">
                                                <a class="line_2 h-auto" href="/diem-danh-13-loai-nuoc-uong-duoc-gioi-tre-yeu-thich-nhat-viet-nam" title="Điểm danh 13 loại nước uống được giới trẻ yêu thích nhất Việt Nam">Điểm danh 13 loại nước uống được giới trẻ yêu thích nhất Việt Nam</a>
                                            </h3>
                                            <div class="entry-date small text-center text-muted mb-2">
                                                <svg width="13" height="13">
                                                    <use href="#svg-user" />
                                                </svg>
                                                Mew Theme
                                                <svg width="13" height="13" class="ml-2">
                                                    <use href="#svg-time" />
                                                </svg>
                                                02/03/2023
                                            </div>


                                            <div class="line_top mb-3 sum line_2 h-auto text-center">
                                                1. Trà vải dưa hấu
                                                Trong các loại nước uống mùa hè không thể thiếu được quả vải và dưa hấu rồi, ngoài việc nhâm nhi vải và dưa hấu tươi, bạn hoàn toàn có thể dùng loại quả này để tạo ra một món đồ uống ngọt dịu tươi mát giải khát mùa hè đấy.
                                                Món trà vải dưa hấu này...
                                            </div>

                                            <a class="view_mores bg-main rounded-main modal-open d-inline-block py-2 px-4 text-center position-absolute" href="/diem-danh-13-loai-nuoc-uong-duoc-gioi-tre-yeu-thich-nhat-viet-nam" title="Đọc thêm">
                                                <b class="position-relative">Đọc thêm</b>
                                                <span></span><span></span><span></span><span></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="swiper-button-prev ml_prev"></div>
                            <div class="swiper-button-next ml_next"></div>
                        </div>
                    </div>
                </section>

                <div class="box_product_1 mt-5">
                    <h3 class="special-content_title pb-2 pt-2 mb-3 font-weight-bold position-relative border-bottom">
                        <span class="position-relative d-inline-block">
                            Sản phẩm đã xem
                        </span>
                    </h3>
                    <div class="swiper-container position-relative js-recent-slider">
                        <div class="swiper-wrapper js-recent-container"></div>
                    </div>
                </div>
            </section>

        </div>
    </div>
    <script>
        const colorUrlFile = 'https://bizweb.dktcdn.net/100/422/614/files/mau-270a9bbe-95be-465e-b31a-3adc5d4321b5.txt?v=1623681371120';
        const mainColor = '#062e88';
    </script>
    <script>
        var productAlias = 'nuoc-khoang-loc-oasis-chai-2-lit';
    </script>
    <script src="~/Content/assets/globala3faa3fa.js"></script>
    <link rel="preload" as="script" href="~/Content/assets/mew_plugina3fa.js" />
    <script src="~/Content/assets/mew_plugina3fa.js" type="text/javascript"></script>
    <script>const formatStoreCurrency = new Intl.NumberFormat(currencies['VND'], { style: 'currency', currency: 'VND' });</script>
    <script src="~/Content/assets/globala3fa.js"></script>
    <script src="~/Content/assets/swipera3fa.js"></script>
    <script src="~/Content/assets/mew_indexa3fa.js"></script>

    <script src="~/Content/assets/mew_contenta3fa.js"></script>
    <script src="~/Content/assets/mew_hide_unvaiable_optiona3fa.js"></script>
    <script src="~/Content/assets/mew_producta3fa.js"></script>
    <script src="~/Content/assets/mew_option_selectorsa3fa.js"></script>
    <script src="~/Content/assets/mew_plugina3fa.js"></script>
    <link href="~/Content/assets/swiper.scssa3fa.css" rel="stylesheet" />
    <link href="~/Content/assets/mew_style_gb.scssa3fa.css" rel="stylesheet" />
    <link href="~/Content/assets/mew_style_index.scssa3fa.css" rel="stylesheet" />
</body>

