@model WebBanNuocTinhKhiet.Models.SANPHAM1

@{
    ViewBag.Title = "Add";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayoutPage1.cshtml";
}

<body style="background-color:aliceblue">
    <h2>Add</h2>

    @using (Html.BeginForm("Add", "SanPham", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="row">
            <div class="col-2"></div>
            <div class="col-6">
                @Html.LabelFor(model => model.TenSP, "Tên sản phẩm")
                @Html.TextBoxFor(model => model.TenSP, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.TenSP, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row">
            <div class="col-2"></div>
            <div class="col-6">
                @Html.LabelFor(model => model.MoTa, "Mô tả sản phẩm")
                @Html.TextBoxFor(model => model.MoTa, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.MoTa, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row">
            <div class="col-2"></div>
            <div class="col-6">
                @Html.LabelFor(model => model.DungTichSP, " Dung tích sản phẩm")
                @Html.TextBoxFor(model => model.DungTichSP, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.DungTichSP, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row">
            <div class="col-2"></div>
            <div class="col-6">
                @Html.LabelFor(model => model.GiaDB, "Giá đặc biệt")
                @Html.TextBoxFor(model => model.GiaDB, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.GiaDB, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row">
            <div class="col-2"></div>
            <div class="col-6">
                @Html.LabelFor(model => model.GiaCu, "Giá cũ sản phẩm")
                @Html.TextBoxFor(model => model.GiaCu, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.GiaCu, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row">
            <div class="col-2"></div>
            <div class="col-6">
                @Html.LabelFor(model => model.Anh, "Chọn hình 1")
                <input type="file" name="imageFile1" id="imageFile1" class="form-control" />
                @Html.ValidationMessageFor(model => model.Anh, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row">
            <div class="col-2"></div>
            <div class="col-6">
                @Html.LabelFor(model => model.Anh2, "Chọn hình 2")
                <input type="file" name="imageFile2" id="imageFile2" class="form-control" />
                @Html.ValidationMessageFor(model => model.Anh2, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row">
            <div class="col-2"></div>
            <div class="col-6">
                @Html.LabelFor(model => model.NgaySX, "Ngày sản xuất")
                @Html.TextBoxFor(model => model.NgaySX, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.NgaySX, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row">
            <div class="col-2"></div>
            <div class="col-6">
                @Html.LabelFor(model => model.MaThuongHieu, "Thương hiệu")
                @Html.TextBoxFor(model => model.MaThuongHieu, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.MaThuongHieu, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row">
            <div class="col-2"></div>
            <div class="col-6">
                @Html.LabelFor(model => model.MaChiTietSP, "Loại sản phẩm")
                @Html.TextBoxFor(model => model.MaChiTietSP, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.MaChiTietSP, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row">
            <div class="col-2"></div>
            <div class="col-6">
                <button type="submit" class="btn btn-primary">Thêm SP</button>
            </div>
        </div>
    }

</body>