@model List<WebBanNuocTinhKhiet.Models.SANPHAM1>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayoutPage1.cshtml";
}

<style>
    .body {
        background-color:aliceblue;
    }
    .img{
        width:200px
    }

</style>


<body class="body" style="background-color: aliceblue;">
    @using (Html.BeginForm("Index", "SanPham", FormMethod.Get, new { id = "myForm" }))
    {
        @Html.Label("Sắp xếp: ", new { @class = "mx-2 my-1" })
        @Html.DropDownList("sortColumn", new List<SelectListItem>
        {
            new SelectListItem{Text = "Sắp xếp theo mã sản phẩm" , Value = "MaSP"},
            new SelectListItem{Text = "Sắp xếp theo tên sản phẩm" , Value = "TenSP"},
            new SelectListItem{Text = "Sắp xếp theo giá cũ" , Value = "GiaCu"},
            new SelectListItem{Text = "Sắp xếp theo giá đặc biệt" , Value = "GiaDb"},
            new SelectListItem{Text = "Sắp xếp theo dung tích sản phẩm" , Value = "DungTichSP"},
        }, "Chọn cách sắp xếp")
    }

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>
        $(function () {
            $('#sortColumn').change(function () {
                $('#myForm').submit();
            });
        });
    </script>


    <p>
        @Html.ActionLink("Thêm sản phẩm", "Add")
    </p>
    <table class="table table-bordered table-striped table-hover table-sm">
        <thead>
            <tr>
                <th scope="col">
                    Tên sản phẩm
                </th>
                <th scope="col">
                    Giá cũ
                </th>
                <th scope="col">
                    Giá đặc biệt
                </th>
                <th scope="col">
                    Ảnh 1
                </th>
                <th scope="col">
                    Mô tả sản phẩm
                </th>
                <th scope="col">
                    Ngày sản xuất
                </th>
                <th scope="col">
                    Ảnh 2
                </th>
                <th scope="col">
                    Dung tích sản phẩm
                </th>
                <th scope="col">
                    Tên thương hiệu
                </th>
                <th scope="col">
                    Loại sản phẩm
                </th>
                <th></th>
            </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TenSP)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GiaCu)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GiaDB)
                </td>
                <td class="img">
                    <img src="@Html.DisplayFor(modelItem => item.Anh)" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MoTa)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NgaySX)
                </td>
                <td class="img">
                    <img src="@Html.DisplayFor(modelItem => item.Anh2)" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DungTichSP)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaThuongHieu)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaChiTietSP)
                </td>
                <td>
                    @Html.ActionLink("Sửa sản phẩm", "Update", new { id = item.MaSP }, new { @class = "btn btn-warning btn-sm", @role = "button", @style = "color: #fff;" })
                    @Html.ActionLink(" Thông tin sản phẩm", "Detail", new { id = item.MaSP }, new { @class = "btn btn-info btn-sm", @role = "button", @style = "color: #fff;" })
                    @Html.ActionLink("Xóa sản phẩm", "Remove", new { id = item.MaSP }, new { @class = "btn btn-danger btn-sm", @role = "button", @style = "color: #fff;" })
                </td>
            </tr>
        }
        <tr>
            <td colspan="6">
                @{
                    int PrevPage = ViewBag.page - 1;
                    if (PrevPage <= 0)
                    {
                        PrevPage = 1;
                    }
                    int NextPage = ViewBag.page + 1;
                    if (NextPage > ViewBag.Pages)
                    {
                        NextPage = ViewBag.Pages;
                    }

                }
                <ul class="pagination justify-content-center">
                    <li class="page-item active">
                        <a class="page-link" href="/Admin/SanPham/Index?sortColumn=@ViewBag.sortColumn&page=@PrevPage">
                            Prev
                        </a>
                    </li>
                    @for (int i = 0; i < ViewBag.Pages; i++)
                    {

                        if (i + 1 == ViewBag.page)
                        {
                            <li class="page-item active">
                                <a class="page-link" href="/Admin/SanPham/Index?sortColumn=@ViewBag.sortColumn&page=@(i+1)">
                                    @(i + 1)
                                </a>
                            </li>
                        }
                        else
                        {
                            <li class="page-item">
                                <a class="page-link" href="/Admin/SanPham/Index?sortColumn=@ViewBag.sortColumn&page=@(i+1)">
                                    @(i + 1)
                                </a>
                            </li>
                        }

                    }
                    <li class="page-item active">
                        <a class="page-link" href="/Admin/SanPham/Index?sortColumn=@ViewBag.sortColumn&page=@NextPage">
                            Next
                        </a>
                    </li>
                </ul>
            </td>
        </tr>
    </table>

</body>
